* {
    margin: 0;
    padding: 0;
}

body {
    
    background-color: rgb(195, 177, 228);
    min-height: 100vh;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.link-container {
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: rgba(52, 224, 0, 0.76);
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    text-align: center;
}
.link-container:hover {
    background-color: coral;
    border-radius: 50%;
}

h1 {
    text-align: center;
    margin: 20px;
    color: white;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#info {
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    font-size: 35px;
}